<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CCTV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  </head>
  <body>
    <!-- 상단바-->
    <header>
      <div class="logo"><a href="/">CCTV</a></div>
      <div class="header_buttons">
        <button onclick="">상단바 1</button>
        <button onclick="">상단바 2</button>
        <button onclick="">상단바 3</button>
        <button onclick="">상단바 4</button>
        <button onclick="">상단바 5</button>
      </div>
    </header>
    <!-- 사이드바-->
    <nav>
      <ul>
        <li><a href="/">사이드바 1</a></li>
        <li><a href="/">사이드바 2</a></li>
        <li><a href="/">사이드바 3</a></li>
        <li><a href="/">사이드바 4</a></li>
        <li><a href="/">사이드바 5</a></li>
        <li><a href="/">사이드바 6</a></li>
        <li><a href="/">사이드바 7</a></li>
      </ul>
    </nav>
    <!-- 본문 영역 -->
    <div class="main-content">
        {% block content %}
        <h1>HOME</h1>
        {% endblock %}
    </div>
  </body>
</html>
