{% extends "base.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/cctv_style.css') }}"
/>
<div class="focused-webcam-container">
  <h1>{{ cctv.location }} (CCTV ID: {{ cctv.cctv_id }})</h1>
  <video autoplay playsinline id="focused-video"></video>
  <div class="button-container">
    <button>객체 탐지</button>
    <button>밀집도</button>
    <button>이상 행동</button>
  </div>
</div>
<script>
  async function startSoloWebcam(cctvId) {
    const devices = await navigator.mediaDevices.enumerateDevices();
    const videoDevices = devices.filter(
      (device) => device.kind === "videoinput"
    );
    const index = parseInt(cctvId.replace("CCTV", "")) - 1;

    if (videoDevices[index]) {
      const videoElement = document.getElementById("focused-video");
      try {
        const stream = await navigator.mediaDevices.getUserMedia({
          video: { deviceId: videoDevices[index].deviceId },
        });
        videoElement.srcObject = stream;
      } catch (error) {
        console.error(`웹캠(${cctvId}) 접근 오류:`, error);
      }
    } else {
      console.error(`CCTV ID(${cctvId})에 해당하는 웹캠이 없습니다.`);
    }
  }

  // 페이지 로드 시 해당 CCTV 스트림 시작
  window.onload = () => startSoloWebcam("{{ cctv.cctv_id }}");
</script>
{% endblock %}
